<div class="card mt-4 p-4">
 <h2>
    <span>Recipe #<%=  %></span>
    <span>
      <%= recipe.id  %>
    </span>
    <span>
    - <%= recipe.name %>
    </span>
  </h2>
  <p>
    <%= recipe.description %>
  </p>
</div>